body{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.col-4 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}
.col-4{
    text-align: center;
}